/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths-4 {
        width: 80%;
        float: right;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.profile-img{
    width:74px;
    margin: 0 auto;
}

.v-gap{
    padding-top:42px;
    padding-bottom:42px;
}

.top-sep{
    margin-top:10px;
}
.sideOptions{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    background: #212121;
    z-index: 10;
}
.opt-header{
    display:block;
    width:100%;
    padding: 5px 0 5px 3px;
    color:white;
    background: #212121;
    border-bottom: 1px solid white;
}
.opt-boton{
    margin: 35px 15px 0 20px;
    box-shadow: 0 1px 1px #888888;
}